#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := cmd/*
export DH_GOLANG_EXCLUDES_ALL := 1

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_install:
	dh_auto_install -- --no-binaries
