name: Test

on: [push, pull_request]

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.19.x

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test
        run: go test ./...

      - name: Vet
        run: go vet ./...
