name: Update Go dependencies
on: workflow_dispatch

jobs:
  update-go:
    name: Update Go dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.15.x

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Go dependencies
        run: |
          go get -u
          go mod tidy

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: '${{ secrets.GH_PAT }}'
          add-paths: |
            go.mod
            go.sum
          commit-message: go get -u
          title: go get -u
          branch: go-update
          author: 'github-actions <github-actions@github.com>'
